Realtimemonitoring/Src/Monitoring.StreamInsight.ObservableServiceProxy/Service References/ValueEventProxy/AppFabricValueEventService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sychev.Monitoring.StreamInsightServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sychev.Monitoring.StreamInsightServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NonValueEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TrackEventType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonValueEvent" nillable="true" type="tns:NonValueEvent" />
</xs:schema>